<script lang="ts">
	import type { Account, Conversation, Membership, Message, Services } from '../../types';

	import Paper, { Title } from '@smui/paper';
	import Textfield from '@smui/textfield';
	import HelperText from '@smui/textfield/helper-text';
	import Button, { Label } from '@smui/button';

	import { onDestroy, onMount } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import lib from '$lib';

	let state = 'loading';
	let comment = '';

	let tokens: Record<string, string> = {};
	let data: any;
	let account: Account;

	let conversationId: string;
	let conversation: Conversation;
	let membership: Membership;
	let message: string = '';
	let messages: Message[] = [];

	function resize(node: CustomEvent<any> | HTMLTextAreaElement | null) {
		if (!node) {
			return;
		}

		if ('target' in node) {
			node = node.target as HTMLTextAreaElement;
		}

		node.style.height = '0px';
		node.style.height = node.scrollHeight + 'px';
	}

	function log(str: string) {
		console.log(str);
		comment = str;
	}

	async function init() {
		console.group('init');

		log('Building application services...');
		state = 'init';
		log('Initializing services...');

		const searchParams = new URLSearchParams(window.location.search);
		const res = await lib.authentication.auth(lib.services);

		tokens = res.tokens;
		account = res.account;

		if (account === null) {
			return goto('/signin?redirect_uri=' + encodeURIComponent($page.url));
		}

		data = await lib.data.decrypt(tokens.encryption, account.data);

		conversationId = searchParams.get('conversation_id') as string;
		log(`Looking for the conversation ${conversationId}`);
		const [_conversation] = await lib.services.models.conversations.find({
			conversation_id: conversationId
		});

		if (!_conversation) {
			log(`Conversation ${conversationId} not found... creating...`);
			conversation = await lib.conversations.create(
				lib.services,
				account.account_id!,
				account.public_key,
				conversationId
			);

			conversation = await lib.services.models.conversations.decryptOne(conversation);

			membership = await lib.conversations.invite(
				lib.services,
				conversation.private_key,
				data.private_key,
				conversation.conversation_id!,
				account.account_id!
			);
		} else {
			log(`Conversation ${conversationId} found`);
			conversation = await lib.services.models.conversations.decryptOne(_conversation);

			[membership] = await lib.services.models.memberships.find({
				conversation_id: conversation.conversation_id!,
				account_id: account.account_id!
			});
		}

		membership = await lib.services.models.memberships.decryptOne(membership);

		console.groupEnd();
		state = 'ready';

		getMessages();
		listenMessages();
	}

	async function invite(accountId?: string) {
		if (!accountId) {
			return;
		}

		await lib.conversations.invite(
			lib.services,
			membership.private_key,
			data.private_key,
			membership.conversation_id,
			accountId
		);
	}

	async function send() {
		if (message.trim() === '') {
			return;
		}

		lib.conversations
			.send(lib.services, conversation, account.account_id!, message)
			.catch(console.error);

		message = '';
	}

	async function listenMessages() {
		const streamId = lib.services.datastores.models.streams.getStreamId('messages', 'entities', {
			conversation_id: conversation.conversation_id
		});

		lib.services.datastores.models.streams.on(streamId, async (m: Message) => {
			console.log('Message received', m);
			const message = await lib.services.models.messages.decryptOne(m);
			const content = await lib.conversations.read(
				lib.services,
				membership,
				data.private_key,
				message.message
			);

			messages = [
				{
					...message,
					message: content
				},
				...messages
			];
		});

		await lib.services.datastores.models.streams.listen('messages', 'entities', {
			conversation_id: conversation.conversation_id
		});
	}

	async function getMessages() {
		const { data: _messages } = await lib.services.datastores.models.find(
			'messages',
			{
				conversation_id: conversation.conversation_id,
				_sort: {
					created_at: -1
				}
			},
			0,
			10,
			// @ts-ignore
			{ decrypt: 'true' }
		);

		const clearMessages = await Promise.all(
			_messages.map((m: Message) =>
				lib.conversations.read(lib.services, membership, data.private_key, m.message)
			)
		);

		messages = _messages.map((m, i) => ({ ...m, message: clearMessages[i] }));

		console.log('Conversations messages', messages);
	}

	onMount(init);

	onDestroy(async () => {
		lib.services.datastores.models.streams.closeAll();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
		<Title>Conversation</Title>

		{#if state === 'init'}
			<dl>
				<dt>{state}</dt>
				<dd>{comment}</dd>
			</dl>
		{:else if state === 'ready'}
			<form class="contents" on:submit|preventDefault={send}>
				<h2>Hello <code title={account.account_id}>{data.email}</code></h2>

				<Button
					type="button"
					on:click={() => {
						const accountId = prompt('Account ID?');

						invite(accountId);
					}}><Label>Invite</Label></Button
				>

				<p>
					Your conversation ID is <code>{conversation.conversation_id}</code>
				</p>
				<div class="flex md:flex-row flex-col items-stretch place-content-evenly">
					<div class="w-full">
						<Textfield style="display: flex" bind:value={message} label="Your message" type="text">
							<HelperText slot="helper">Your message</HelperText>
						</Textfield>

						<Button type="submit">
							<Label>Send</Label>
						</Button>
					</div>
				</div>
			</form>
		{:else}
			Loading... ({state})
		{/if}

		<div class="p-8" />

		<Title>Messages</Title>

		{#each messages as message}
			<dl>
				<dt>{message.created_at}</dt>
				<dd><pre>{message.message}</pre></dd>
			</dl>
		{/each}
	</Paper>
</div>

<style lang="scss">
	#main {
		:global(label.mdc-text-field > span) {
			width: 100%;
		}

		:global(label.mdc-text-field .mdc-notched-outline__notch) {
			border-left-style: unset;
			border-right-style: unset;
		}
	}
</style>
