<script lang="ts">
	import { onDestroy, onMount, tick } from 'svelte';
	import Paper, { Content, Title } from '@smui/paper';
	import Button, { Label } from '@smui/button';

	let detecting = false;
	let barcodeData: string | null = null;
	let video;

	/**
	 * @see https://progressier.com/pwa-capabilities/qr-code-and-barcode-reader
	 */
	async function startDetection() {
		barcodeData = null;
		detecting = true;

		await tick();

		//we start the device's camera
		video = document.getElementById('barcode-detection-video');
		video.srcObject = await navigator.mediaDevices.getUserMedia({
			video: { facingMode: 'environment' }
		});
		video.play();

		//for the purpose of this demo, we're only detecting QR codes, but there are plenty of other barcodes formats we could detect
		//see https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detection_API#supported_barcode_formats
		const barcodeDetector = new BarcodeDetector({ formats: ['qr_code'] });

		video.addEventListener('loadedmetadata', async function () {
			const canvas = document.createElement('canvas');
			canvas.width = video.videoWidth;
			canvas.height = video.videoHeight;
			const context = canvas.getContext('2d');

			const checkForQrCode = async () => {
				//we draw the current view from the camera on a canvas
				context.drawImage(video, 0, 0, canvas.width, canvas.height);

				//then we pass that canvas to the barcode detector
				let barcodes = await barcodeDetector.detect(canvas);

				if (barcodes.length > 0) {
					video.srcObject.getTracks().forEach(function (track) {
						track.stop();
					});

					canvas.remove();

					barcodeData = barcodes[0].rawValue;

					detecting = false;

					return;
				}

				requestAnimationFrame(checkForQrCode);
			};

			checkForQrCode();
		});
	}

	async function stop() {
		video?.srcObject?.getTracks().forEach(function (track) {
			track.stop();
		});
	}

	onMount(() => {
		startDetection();
	});

	onDestroy(() => {
		stop();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<section>
		<div class="flex flex-col items-center justify-center">
			<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
				<Title>QRcode detection</Title>

				<Button
					type="submit"
					class="flex w-full"
					color="primary"
					disabled={detecting === true}
					on:click={startDetection}
				>
					<Label>Launch</Label>
				</Button>

				{#if detecting === true}
					<video
						id="barcode-detection-video"
						style="border: 1px solid red; width: 100%; height: 480px;"
					/>
				{/if}

				{#if barcodeData !== null}
					<pre class="w-full overflow-auto mt-6">{barcodeData}</pre>
				{/if}
			</Paper>
		</div>
	</section>
</div>
