<script lang="ts">
	import type { Message } from '../../types';
	import Paper, { Content, Title } from '@smui/paper';
	import Button, { Label } from '@smui/button';
	import Textfield from '@smui/textfield';
	import HelperText from '@smui/textfield/helper-text';

	import { onDestroy, onMount } from 'svelte';

	import lib from '$lib';

	import WebRTCNegociator from '../../components/com/WebRTCNegociator';

	const searchParams = new URLSearchParams(window.location.search);

	let from: string = searchParams.get('from') ?? 'alice';
	let to: string = searchParams.get('to') ?? 'bernard';

	let isReady = false;

	let logs: string[] = [];

	let message: string = '';
	let messages: string[] = [];

	let negociator: WebRTCNegociator = new WebRTCNegociator(
		{
			id: from,
			iceServers: [{ url: 'stun:stun.l.google.com:19302', urls: 'stun:stun.l.google.com:19302' }]
		},
		lib.services.datastores.models
	);

	negociator.on('ready', onReady);
	negociator.on('log', log);
	negociator.on('close', disconnect);

	let fetchMessagesTimeout: NodeJS.Timeout;

	function onReady({ to, channel }) {
		isReady = true;
		// log('[webrtc#ready] Connected ✅');

		// log('[webrtc#ready] Stop streaming WebRTC messages...');
		// lib.services.datastores.models.streams.closeAll();

		negociator.dataChannels.get(to)!.send(JSON.stringify({ hello: to }));
		channel.onmessage = (m) => {
			// log('[webrtc#onMessage] Received message', { from: to, m: JSON.parse(m.data) });
			const message = JSON.parse(m.data).message ?? '';
			messages = [message, ...messages];

			from === 'bernard' &&
				negociator?.dataChannels
					.get(to)
					?.send(JSON.stringify({ to, message: `(echo) "${message}"` }));
		};
	}

	let lastPollDate = Date.now();
	let waitSignalsTimeout: NodeJS.Timeout;
	let processedSignals = new Set<string>();
	async function waitSignals() {
		clearTimeout(waitSignalsTimeout);

		const since = new Date(lastPollDate - 1 * 1000).toISOString();

		// Update the
		lastPollDate = Date.now();

		const messages = await lib.services.models.messages.find({
			conversation_id: `webrtc://${from}`,
			author_id: to,
			// @ts-ignore
			created_at: { $gte: since }
		});

		for (const m of messages) {
			if (processedSignals.has(m.message_id!)) {
				console.log('[webrtc] Message already processed...', m);
				continue;
			}

			processedSignals.add(m.message_id!);

			const decrypted = await lib.services.models.messages.decryptOne(m);
			const message = JSON.parse(decrypted.message);

			if (message.type === 'candidate') {
				log('<span style="color: gray;">CANDIDATE</span>');
			}

			if (message.type === 'description') {
				log('<span style="color: green;">DESCRIPTION</span>');
			}

			negociator.onSignal(message);
		}

		if (isReady === true) {
			waitSignalsTimeout = setTimeout(waitSignals, 10000);
			return;
		}

		waitSignalsTimeout = setTimeout(waitSignals, 1000);
	}

	async function start() {
		console.clear();
		isReady = false;

		waitSignals();
	}

	async function disconnect() {
		logs = [];
		messages = [];

		negociator.close(to);
		// negociator.removeListener('ready', onReady);

		// log('[webrtc#disconnect] Stop streaming WebRTC messages...');
		// clearTimeout(waitSignalsTimeout);

		isReady = false;
	}

	function log(line: string, ctx: any = {}) {
		console.log(line, ctx);
		logs = [
			`${line}: <small>${JSON.stringify({
				...ctx
				// ...negociator.status.get(to)
			})}</small>`,
			...logs
		].slice(0, 100);
	}

	onMount(async () => {
		await start();
	});

	onDestroy(() => {
		negociator.close(to);
		negociator.removeListener('ready', onReady);
		clearTimeout(waitSignalsTimeout);
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:pt-8">
	<section>
		<div class="flex flex-col items-center justify-center">
			<Paper
				square
				variant="unelevated"
				class="flex flex-col w-full rounded-lg shadow overflow-auto"
			>
				<Title>WebRTC</Title>

				<Content>
					<p>From {from} -> {to}</p>
					<p>isReady={isReady}</p>
					<p>Waiting messages: {!!waitSignalsTimeout}</p>

					<Button
						disabled={isReady === false}
						type="button"
						class="flex w-full"
						color="primary"
						on:click={disconnect}
					>
						<Label>Disconnect</Label>
					</Button>
					<Button
						disabled={isReady}
						type="button"
						class="flex w-full"
						color="primary"
						on:click={() => {
							negociator.connect(to);
						}}
					>
						<Label>Call</Label>
					</Button>

					<form
						class="contents"
						on:submit|preventDefault={() => {
							if (isReady !== true || message.trim() === '') {
								return;
							}

							log('Sending message...');
							messages = [' > ' + message, ...messages];
							negociator?.dataChannels.get(to)?.send(JSON.stringify({ to, message }));

							message = '';
						}}
					>
						<Textfield
							disabled={isReady === false}
							style="display: flex"
							bind:value={message}
							label="Your message"
							type="text"
						>
							<HelperText slot="helper">Your message</HelperText>
						</Textfield>
					</form>
				</Content>

				{#each messages as message}
					<Content><code>{message}</code></Content>
				{/each}

				<hr />
				{#each logs as log}
					<div class="text-xs"><code>{@html log}</code></div>
				{/each}
			</Paper>
		</div>
	</section>
</div>
