<script lang="ts">
	import '../theme/app.scss';

	import BottomAppBar, { AutoAdjust } from '@smui-extra/bottom-app-bar';
	import { onMount } from 'svelte';
	import lib from '$lib';

	import Footer from '../components/Footer.svelte';
	import BottomAppBarContent from '../components/BottomAppBar.svelte';
	import Badges from '../components/badges/Badges.svelte';
	import DialogOtp from '../components/DialogOtp.svelte';

	let bottomAppBar: BottomAppBar;

	let isReady = lib.init(lib.services);
	const logs = lib.services.stores.logs;

	onMount(async () => {
		// For debugging purpose only
		globalThis.lib = lib;

		// Initialization
		/**
		 * @see https://developer.mozilla.org/en-US/docs/Web/API/VirtualKeyboard_API
		 */
		navigator.virtualKeyboard.overlaysContent = true;
	});
</script>

<svelte:head>
	<title>Shamir</title>

	<meta name="theme-color" content="#000000" />

	<link rel="stylesheet" href="/smui.css" media="(prefers-color-scheme: light)" />
	<link rel="stylesheet" href="/smui-dark.css" media="screen and (prefers-color-scheme: dark)" />

	{#await isReady}
		<!--  -->
	{:then}
		<meta
			http-equiv="Content-Security-Policy"
			content="
				default-src 'self';
				connect-src 'self' {lib.services.datastores.models.config.baseUrl?.replace(
				'https://',
				''
			)} api.stripe.com;
				style-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com;
				font-src 'self' 'unsafe-inline' fonts.googleapis.com fonts.gstatic.com;
				script-src 'self' 'unsafe-inline' 'unsafe-eval' fonts.googleapis.com fonts.gstatic.com;
				img-src 'self' *.cartocdn.com data: blob:;"
		/>
	{/await}
</svelte:head>

{#await isReady}
	<span />
{:then}
	<AutoAdjust {bottomAppBar}>
		<div class="flex flex-col">
			<slot />
		</div>
	</AutoAdjust>

	<BottomAppBar bind:this={bottomAppBar} variant="fixed" style="z-index: 999;">
		<BottomAppBarContent />
	</BottomAppBar>
{:catch}
	<div
		class="m-6 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
		role="alert"
	>
		<strong class="font-bold">Error</strong>
		<span class="block sm:inline">Services initialization error</span>
		<hr class="h-px my-8 bg-red-400 border-0" />
		<pre class="w-full overflow-auto">
		{#await navigator.serviceWorker.getRegistrations() then registrations}
				num={registrations.length}\n
			{#each registrations as registration}
					StateURL={registration.active?.scriptURL}\n
				{/each}
			{/await}
		</pre>
		<hr class="h-px my-8 bg-red-400 border-0" />
		<pre class="w-full overflow-auto">{$logs.join('\n')}</pre>
	</div>
{/await}

<Badges />
<Footer />

<DialogOtp />
