<script lang="ts">
	import Textfield from '@smui/textfield';
	import HelperText from '@smui/textfield/helper-text';
	import Button, { Label } from '@smui/button';
	import Tab from '@smui/tab';
	import TabBar from '@smui/tab-bar';
	import Paper, { Content, Title } from '@smui/paper';
	import Snackbar from '@smui/snackbar';
	import Chip, { Set, Text } from '@smui/chips';

	import { split, combine } from 'shamirs-secret-sharing-ts';
	import { onMount, tick } from 'svelte';
	import { goto } from '$app/navigation';

	import { page } from '$app/stores';

	let snackbar: any;
	let messageTextarea: any;

	let activeTab: 'share' | 'decode' = 'share';
	let sharesNb: number = 6;
	let threshold: number = 4;
	let value: string = 'Hello World';
	let shares: string[] = [];
	let combines: string[] = new Array(threshold).fill('');
	let recovered: string = '';

	function updateUrl() {
		if (typeof window === 'undefined') {
			return;
		}

		$page.url.searchParams.set('p', `${activeTab}`);
		$page.url.searchParams.set('s', `${sharesNb}`);
		$page.url.searchParams.set('t', `${threshold}`);

		goto(`/?${$page.url.searchParams.toString()}`, {
			replaceState: true,
			noScroll: true,
			keepFocus: true
		});
	}

	function resize(node: CustomEvent<any> | HTMLTextAreaElement | null) {
		if (!node) {
			return;
		}

		if ('target' in node) {
			node = node.target as HTMLTextAreaElement;
		}

		node.style.height = '0px';
		node.style.height = node.scrollHeight + 'px';
	}

	function useResize(node: Element) {
		resize(node.querySelector('textarea'));
	}

	function share() {
		console.log('[#share] Sharing...');
		shares = split(value, { shares: sharesNb, threshold }).map((s) =>
			Buffer.from(s).toString('base64')
		);

		combines = shares.slice(0, threshold);

		decode();
	}

	async function decode() {
		console.log('[#share] Decoding...');
		const uintCombines = combines.map((c) => Buffer.from(c, 'base64'));
		recovered = combine(uintCombines).toString();

		await tick();

		resize(document.querySelector('.recovered-textarea textarea') as HTMLTextAreaElement | null);
	}

	onMount(() => {
		activeTab = ($page.url.searchParams.get('p') ?? activeTab) as 'share' | 'decode';
		sharesNb = parseInt($page.url.searchParams.get('s') ?? `${sharesNb}`, 10);
		threshold = parseInt($page.url.searchParams.get('t') ?? `${threshold}`, 10);
		value = $page.url.searchParams.get('sample') ?? value;

		share();

		messageTextarea?.focus();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
		<Title>Configuration</Title>

		<Content>
			You will generate <Set style="display: contents" chips={[1]} let:chip nonInteractive
				><Chip {chip}>
					<Text>{sharesNb}</Text>
				</Chip></Set
			> keys of which <Set style="display: contents" chips={[1]} let:chip nonInteractive
				><Chip {chip}>
					<Text>{threshold}</Text>
				</Chip></Set
			> will be sufficient to decrypt the message.
		</Content>

		<div class="flex md:flex-row flex-col items-stretch place-content-evenly">
			<div class="w-full">
				<Textfield
					style="display: flex"
					bind:value={sharesNb}
					label="# shares ( > {threshold} )"
					type="number"
					input$step="1"
					on:input={() => {
						sharesNb = Math.max(threshold, sharesNb);

						updateUrl();
						share();
					}}
				>
					<HelperText slot="helper">Number of keys that will be generated</HelperText>
				</Textfield>
			</div>
			<div class="w-full">
				<Textfield
					style="display: flex"
					bind:value={threshold}
					label="threshold ( ∈ [0, {sharesNb}])"
					type="number"
					input$step="1"
					on:input={() => {
						threshold = !threshold ? 2 : Math.max(2, Math.min(sharesNb, threshold));

						combines = new Array(threshold).fill('');

						updateUrl();
						share();
					}}
				>
					<HelperText slot="helper">Number of keys required to decode the message</HelperText>
				</Textfield>
			</div>
		</div>
	</Paper>

	<TabBar
		class="mt-6"
		tabs={['share', 'decode']}
		let:tab
		bind:active={activeTab}
		on:SMUITabBar:activated={updateUrl}
	>
		<!-- Note: the `tab` property is required! -->
		<Tab {tab}>
			<Label>{tab}</Label>
		</Tab>
	</TabBar>

	{#if activeTab === 'share'}
		<Paper square variant="unelevated" class="flex flex-col">
			<form class="contents" on:submit|preventDefault={share}>
				<Textfield
					bind:this={messageTextarea}
					class="value-textarea"
					use={[useResize]}
					input$rows={1}
					on:input={resize}
					textarea
					bind:value
					label="Message"
					input$resizable={false}
					on:input={() => (shares = [])}
				>
					<HelperText slot="helper"
						>Write the message you want to share. When you are ready, click on the <code>Share</code
						> button below.</HelperText
					>
				</Textfield>

				<Button type="submit">
					<Label>Share</Label>
				</Button>
			</form>

			<div class="flex flex-col">
				{#each shares as share, i}
					<Textfield
						disabled
						input$resizable={false}
						value={share}
						label={`Shareable key ${i + 1} / ${sharesNb}`}
						on:click={() => {
							navigator.clipboard.writeText(share).then(() => {
								snackbar.open();
							});
						}}
					/>
				{/each}
			</div>
		</Paper>
	{:else if activeTab === 'decode'}
		<Paper square variant="unelevated" class="flex flex-col">
			<form class="contents" on:submit|preventDefault={decode}>
				{#each combines as combine, i}
					<Textfield
						bind:value={combine}
						label={`Key ${i + 1} / ${threshold}`}
						input$resizable={false}
					/>
					<br />
				{/each}

				<Button type="submit">
					<Label>Decode</Label>
				</Button>
			</form>

			<br />

			<Textfield
				class="recovered-textarea"
				textarea
				disabled
				use={[useResize]}
				input$resizable={false}
				value={recovered}
				label={`Content`}
			/>
		</Paper>
	{:else}
		<Paper square variant="unelevated">
			<Content>This is a Shamir simple UI content sharing.</Content>
		</Paper>
	{/if}

	<br />

	<Paper square variant="unelevated">
		<Title>Shamir's secret sharing</Title>
		<Content>
			<p>
				<b>Shamir's secret sharing</b> (SSS) is an efficient
				<a href="https://en.wikipedia.org/wiki/Secret_sharing" title="Secret sharing"
					>secret sharing</a
				>
				<a href="https://en.wikipedia.org/wiki/Algorithm" title="Algorithm">algorithm</a>
				for distributing
				<a href="https://en.wikipedia.org/wiki/Secret_sharing" title="Secret sharing"
					>private information</a
				>
				(the "secret") among a group so that the secret cannot be revealed unless a
				<a href="https://en.wikipedia.org/wiki/Quorum" title="Quorum">quorum</a>
				of the group acts together to pool their knowledge. To achieve this, the secret is mathematically
				divided into parts (the "shares") from which the secret can be reassembled only when a sufficient
				number of shares are combined. SSS has the property of
				<a
					href="https://en.wikipedia.org/wiki/Information-theoretic_security"
					title="Information-theoretic security">information-theoretic security</a
				>, meaning that even if an attacker steals some shares, it is impossible for the attacker to
				reconstruct the secret unless they have stolen the quorum number of shares.
			</p>

			<p class="mt-2 float-right">
				<a href="https://en.wikipedia.org/wiki/Shamir%27s_secret_sharing" target="_blank"
					>Wikipedia</a
				>
			</p>
		</Content>
	</Paper>

	<br />

	<Paper square variant="unelevated">
		<Title>Credits</Title>
		<Content>
			This UI is implementing the amazing work ❤ done here:
			<ul class="ml-6 list-disc">
				<li>
					<a href="https://www.npmjs.com/package/shamirs-secret-sharing-ts" target="_blank"
						>shamirs-secret-sharing-ts</a
					> by Mathias Schütz
				</li>
				<li>
					<a href="https://www.npmjs.com/package/shamirs-secret-sharing" target="_blank"
						>shamirs-secret-sharing</a
					>
					by <code>werle</code>
				</li>
				<li>
					<a href="https://sveltematerialui.com/" target="_blank">smui</a>
					by Hunter Perrin
				</li>
			</ul>
		</Content>
	</Paper>
</div>

<Snackbar closeOnEscape timeoutMs={4000} bind:this={snackbar}>
	<Label>Key copied!</Label>
</Snackbar>

<style lang="scss">
	#main {
		:global(label.mdc-text-field > span) {
			width: 100%;
		}

		:global(label.mdc-text-field .mdc-notched-outline__notch) {
			border-left-style: unset;
			border-right-style: unset;
		}
	}
</style>
