<script lang="ts">
	import type { Account, Services } from '../../types';

	import Paper, { Content, Title } from '@smui/paper';
	import Textfield from '@smui/textfield';
	import HelperText from '@smui/textfield/helper-text';
	import Button, { Label } from '@smui/button';

	import { fly, fade } from 'svelte/transition';
	import { onMount, onDestroy } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import lib from '$lib';

	let state: 'init' | 'ready' | 'signin' | 'error' | 'success' = 'init';
	let services: Services = lib.services;
	let email: string = '';
	let password: string = '';
	let isSignup: boolean = false;
	let isLoading: boolean = false;
	let keepMeLoggedIn: boolean = true;
	let areTermsAccepted: boolean = false;
	let error: string = '';
	let tokens: Record<string, string> = {};
	let data: any = {};
	let message: string = 'Hello World!';
	let encryptedMessage: string = '';
	let decryptedMessage: string = '';
	let myAccount: Account | null = null;

	let isLoadingTimeout: NodeJS.Timeout;
	async function init() {
		email = $page.url?.searchParams.get('email') ?? '';
		password = $page.url?.searchParams.get('password') ?? '';
		isSignup = $page.url?.searchParams.has('signup');

		isLoadingTimeout = setTimeout(() => (isLoading = true), 1000);

		try {
			await services.datastores.models.heartbeat();

			clearTimeout(isLoadingTimeout);

			const res = await lib.authentication.auth(services);

			tokens = res.tokens;
			myAccount = res.account;

			if (tokens !== null && myAccount !== null) {
				data = await lib.data.decrypt(tokens.encryption, myAccount!.data);

				state = 'success';

				return;
			}

			state = 'ready';

			signin();
		} catch (err) {
			error = 'Error during initialization...';
			state = 'ready';

			clearTimeout(isLoadingTimeout);
			clearErrorTimeout = setTimeout(() => (error = ''), 5000);
		}
	}

	let clearErrorTimeout: NodeJS.Timeout;
	async function signin() {
		try {
			if (!services || !email || !password) {
				return;
			}

			state = 'signin';
			console.group('signin...');
			console.log('Signin with', { email, password });

			const res = await lib.authentication[isSignup === true ? 'signup' : 'signin'](
				services,
				email,
				password,
				keepMeLoggedIn
			);

			if (res.account === null) {
				state = 'ready';
				return;
			}

			tokens = res.tokens;
			myAccount = res.account;

			if ($page.url?.searchParams.has('redirect_uri')) {
				return goto(decodeURIComponent($page.url.searchParams.get('redirect_uri') as string));
			}

			data = await lib.data.decrypt(tokens.encryption, myAccount!.data);

			console.log('User authenticated successfully', myAccount);
			state = 'success';
		} catch (err: unknown) {
			console.error(err);
			error = 'Error on ' + getSubmitLabel(isSignup).toLowerCase() + '.';
			state = 'ready';

			clearErrorTimeout = setTimeout(() => (error = ''), 5000);
		}

		console.groupEnd();
	}

	async function signoff() {
		lib.authentication.signoff(services);

		myAccount = null;
		tokens = {};
		state = 'ready';
	}

	async function send() {
		console.group('sending...');
		try {
			console.log('Retrieving the account public key...');
			const publicKey = myAccount!.public_key!;

			console.log('Sending the message...');
			encryptedMessage = await lib.messages.send(publicKey, message);

			await read();
		} catch (err) {
			console.error(err);
		}
		console.groupEnd();
	}

	async function read() {
		console.group('reading...');
		try {
			console.log('Retrieving the account private key...');
			const { private_key: privateKey } = await lib.data.decrypt(tokens.encryption, myAccount.data);

			console.log('Reading the message...');
			decryptedMessage = await lib.messages.read(privateKey, encryptedMessage);
		} catch (err) {
			console.error(err);
		}
		console.groupEnd();
	}

	function resize(node: CustomEvent<any> | HTMLTextAreaElement | null) {
		if (!node) {
			return;
		}

		if ('target' in node) {
			node = node.target as HTMLTextAreaElement;
		}

		node.style.height = '0px';
		node.style.height = node.scrollHeight + 'px';
	}

	function useResize(node: Element) {
		resize(node.querySelector('textarea'));
	}

	function getSubmitLabel(isSignup: boolean) {
		return isSignup === true ? 'Signup' : 'Signin';
	}

	onMount(init);
	onDestroy(() => {
		clearTimeout(clearErrorTimeout);
		clearTimeout(isLoadingTimeout);
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<section>
		<div class="flex flex-col items-center justify-center">
			{#if state !== 'init'}
				<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8" in:fade>
						{#if ['ready', 'signin'].includes(state)}
							<div>
								<Title>Sign in to your account</Title>
							</div>

							<div>
								<Content>You can signin to this platform safely.</Content>
							</div>

							<form class="space-y-4 md:space-y-6" on:submit|preventDefault={signin}>
								<div class="flex flex-col">
									<Textfield
										bind:value={email}
										label="Email address"
										type="email"
										id="email"
										disabled={state === 'signin'}
										{...!email ? { input$autofocus: true } : {}}
										input$autocomplete="email"
									>
										<HelperText slot="helper" persistent
											>Please fill in your email address</HelperText
										>
									</Textfield>
								</div>
								<div class="flex flex-col">
									<Textfield
										bind:value={password}
										id="password"
										label="Your password"
										type="password"
										disabled={state === 'signin'}
										{...email ? { input$autofocus: true } : {}}
										input$autocomplete={isSignup === true ? 'new-password' : 'current-password'}
									>
										<HelperText slot="helper" persistent>Please enter a strong password</HelperText>
									</Textfield>
								</div>

								<div class="flex items-start">
									<div class="flex items-center h-5">
										<input
											id="keep-me-logged-in"
											aria-describedby="keep-me-logged-in"
											type="checkbox"
											disabled={state === 'signin'}
											bind:checked={keepMeLoggedIn}
											class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
										/>
									</div>
									<div class="ml-3 text-sm">
										<label
											for="keep-me-logged-in"
											class="font-light text-gray-500 dark:text-gray-300">Keep me logged in</label
										>
									</div>
								</div>

								{#if isSignup === true}
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="terms"
												aria-describedby="terms"
												type="checkbox"
												disabled={state === 'signin'}
												bind:checked={areTermsAccepted}
												class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label for="terms" class="font-light text-gray-500 dark:text-gray-300"
												>I accept the <a
													class="font-medium text-primary-600 hover:underline dark:text-primary-500"
													href="#">Terms and Conditions</a
												></label
											>
										</div>
									</div>
								{/if}

								<Button
									type="submit"
									class="flex w-full"
									color="primary"
									disabled={state !== 'ready' ||
										!email ||
										!password ||
										(isSignup === true && areTermsAccepted === false)}
								>
									<Label>{getSubmitLabel(isSignup)}{state === 'ready' ? '' : '...'}</Label>
								</Button>

								<p class="text-sm font-light text-gray-500 dark:text-gray-400 text-center">
									{#if isSignup === true}
										Already have an account? <a
											href="/signin"
											class="font-medium text-primary-600 hover:underline dark:text-primary-500"
											on:click={() => (isSignup = false)}>Login here</a
										>
									{:else}
										Don't have an account? <a
											href="/signin?signup"
											class="font-medium text-primary-600 hover:underline dark:text-primary-500"
											on:click={() => (isSignup = true)}>Create an account</a
										>
									{/if}
								</p>

								<code class="block whitespace-pre overflow-x-scroll text-center">
									{error || ''}
								</code>
							</form>
						{:else if state === 'success'}
							<div in:fly|local={{ x: -10 }}>
								<Title>Hi!</Title>
							</div>

							<div in:fly|local={{ x: -25 }}>
								<Content>
									<p>You are now logged in with your email address <code>{data.email}</code>.</p>
								</Content>
							</div>

							<form class="space-y-4 md:space-y-6" on:submit|preventDefault={send}>
								<div class="flex flex-col" in:fly|local={{ x: -50 }}>
									<Textfield
										class="flex"
										input$autofocus
										id="message"
										bind:value={message}
										label="Message"
										type="text"
										input$resizable={false}
										input$rows={1}
										use={[useResize]}
										on:input={resize}
									>
										<HelperText slot="helper" persistent>Send a message to myself</HelperText>
									</Textfield>
								</div>
								<div class="flex flex-col">
									<Button class="flex w-full" type="submit" color="primary">
										<Label>Send</Label>
									</Button>
								</div>
								<div class="flex flex-col">
									<Textfield
										disabled
										class="flex"
										textarea
										input$resizable={false}
										input$rows={2}
										value={encryptedMessage}
										label="Sent message"
									>
										<HelperText slot="helper" persistent
											>Encrypted message you have sent with your personal public key</HelperText
										>
									</Textfield>
								</div>
								<div class="flex flex-col">
									<Textfield
										disabled
										class="flex"
										textarea
										input$resizable={false}
										input$rows={2}
										value={decryptedMessage}
										label="Read message"
									>
										<HelperText slot="helper" persistent
											>Message you can read with your private key</HelperText
										>
									</Textfield>
								</div>
							</form>

							<Button type="button" class="flex w-full" color="secondary" on:click={signoff}>
								<Label>Signoff</Label>
							</Button>
						{/if}
					</div>
				</Paper>
			{:else}
				<div role="status" class="min-h-80 flex items-center">
					{#if isLoading === true}
						<div in:fade class="flex flex-row items-center">
							<svg
								aria-hidden="true"
								class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
								viewBox="0 0 100 101"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
									fill="currentColor"
								/>
								<path
									d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
									fill="currentFill"
								/>
							</svg>
							<span class="ml-3">Waking up services...</span>
						</div>
					{/if}
				</div>
			{/if}
		</div>
	</section>
</div>

<style lang="scss">
	#main {
		:global(label.mdc-text-field > span) {
			width: 100%;
		}

		:global(label.mdc-text-field .mdc-notched-outline__notch) {
			border-left-style: unset;
			border-right-style: unset;
		}
	}
</style>
