<script lang="ts">
	import Paper, { Content, Title } from '@smui/paper';
	import Button, { Label } from '@smui/button';
	import { onDestroy, onMount } from 'svelte';

	let video;
	let data: string | null = null;

	async function record() {
		video = document.getElementById('camera');
		video.srcObject = await navigator.mediaDevices.getUserMedia({
			video: { facingMode: 'environment' },
			audio: false
		});
		video.play();
	}

	async function stop() {
		video?.srcObject?.getTracks().forEach(function (track) {
			track.stop();
		});
	}

	async function capture() {
		const canvas = document.createElement('canvas');

		canvas.width = video.videoWidth;
		canvas.height = video.videoHeight;

		const context = canvas.getContext('2d');

		context.drawImage(video, 0, 0, canvas.width, canvas.width);

		data = canvas.toDataURL('image/webp');

		canvas.remove();
	}

	async function upload(event) {
		const fileList = event.target.files;
		let file = null;

		for (let i = 0; i < fileList.length; i++) {
			if (fileList[i].type.match(/^image\//)) {
				file = fileList[i];
				break;
			}
		}

		if (file !== null) {
			const img = new Image();
			img.src = URL.createObjectURL(file);
			img.onload = () => {
				const canvas = document.createElement('canvas');

				canvas.width = img.width;
				canvas.height = img.height;
				console.log('Image loaded', { width: img.width, height: img.height });

				const context = canvas.getContext('2d');

				context.drawImage(img, 0, 0, canvas.width, canvas.height);

				data = canvas.toDataURL('image/webp');

				canvas.remove();
			};
		}
	}

	onMount(() => {
		record();
	});

	onDestroy(() => {
		stop();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<section>
		<div class="flex flex-col items-center justify-center">
			<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
				<Title>Take a picture</Title>

				<Button type="button" class="flex w-full" color="primary" on:click={capture}>
					<Label>Capture</Label>
				</Button>

				<div class="flex flex-col">
					<label
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						for="file_input">Upload file</label
					>
					<input
						class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
						id="file_input"
						type="file"
						accept="image/*"
						capture="environment"
						on:change={upload}
					/>
				</div>

				<video id="camera" style="border: 1px solid red; width: 100%; height: 480px;" />

				{#if data !== null}
					<img alt="picture" title="picture" src={data} />
				{/if}
			</Paper>
		</div>
	</section>
</div>
