<script lang="ts">
	import NetworkBadge from './Network.svelte';
	import GeolocationBadge from './Geolocation.svelte';
	import ScreenLockBadge from './ScreenLock.svelte';
</script>

<NetworkBadge />
<GeolocationBadge />
<ScreenLockBadge />
