<script lang="ts">
	export let isActive: boolean = false;
	export let position: number = 0;
	export let color: string = 'red';
</script>

<div
	class="badge transition-all opacity-0"
	class:opacity-100={isActive}
	style="--position: {position}; --color: {color};"
></div>

<style lang="scss">
	.badge {
		z-index: 999;
		position: fixed;
		top: calc(32px + 16px * var(--position));
		right: 14px;
		width: 4px;
		height: 4px;
		background-color: var(--color);
		border-radius: 100%;
	}
</style>
