<script lang="ts">
	import type { Services } from '../../types';

	import { onDestroy, onMount } from 'svelte';
	import Paper, { Content, Title } from '@smui/paper';

	import lib from '$lib';

	import {
		cell,
		fingerprint,
		location,
		network,
		visibility,
		pushSubscription
	} from '../../services/stores';

	onMount(async () => {
		lib.services?.geolocation.watchPosition();
		lib.services?.notifications.subscribePushNotifications();
	});

	onDestroy(() => {
		lib.services?.geolocation.clearWatchPosition();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<section>
		<div class="flex flex-col items-center justify-center">
			<Paper square variant="unelevated" class="flex flex-col w-full rounded-lg shadow">
				<Title>Settings</Title>

				<Content>Here are the main settings for your current browser.</Content>

				<hr class="mt-6 mb-6" />

				<dl
					class="w-full overflow-auto max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700"
				>
					<div class="flex flex-col pb-3">
						<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Fingerprint</dt>
						<dd class="text-lg font-semibold">{$fingerprint}</dd>
					</div>

					<div class="flex flex-col pb-3">
						<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Visibility</dt>
						<dd class="text-lg font-semibold">
							<pre>{JSON.stringify($visibility, null, 2)}</pre>
						</dd>
					</div>

					<div class="flex flex-col pb-3">
						<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Network</dt>
						<dd class="text-lg font-semibold">
							<pre>{JSON.stringify($network, null, 2)}</pre>
						</dd>
					</div>

					<div class="flex flex-col pb-3">
						<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Location</dt>
						<dd class="text-lg font-semibold">
							<pre>{JSON.stringify(
									{
										cell: $cell,
										latitude: $location?.coords.latitude,
										longitude: $location?.coords.longitude,
										accuracy: $location?.coords.accuracy,
										timestamp: $location?.timestamp
									},
									null,
									2
								)}</pre>
						</dd>
					</div>

					<div class="flex flex-col pb-3">
						<dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Push Notifications</dt>
						<dd class="text-lg font-semibold">
							<pre>{JSON.stringify($pushSubscription, null, 2)}</pre>
						</dd>
					</div>
				</dl>
			</Paper>
		</div>
	</section>
</div>
