<script lang="ts">
	import { Section } from '@smui-extra/bottom-app-bar';
	import IconButton from '@smui/icon-button';
	import Fab, { Icon } from '@smui/fab';

	import lib from '$lib';
</script>

<Section class="bottom-app-bar">
	<IconButton href="/" class="material-icons" aria-label="Secret sharing">share</IconButton>
	<IconButton href="/settings" class="material-icons" aria-label="Settings">settings</IconButton>
	<IconButton
		href="/chat?conversation_id=john_conversation_7"
		class="material-icons"
		aria-label="Label">chat</IconButton
	>
	<IconButton href="/webrtc?from=alice&to=bernard" class="material-icons" aria-label="Label"
		>sync</IconButton
	>
	<IconButton href="/map" class="material-icons" aria-label="Map">map</IconButton>
	<IconButton href="/qrcode" class="material-icons" aria-label="QR Code scanner">camera</IconButton>
	<IconButton href="/images" class="material-icons" aria-label="Image">image</IconButton>
</Section>
<Section class="bottom-app-bar" fabInset>
	<Fab
		aria-label="Share"
		on:click={() => {
			lib.services.shares.share(
				lib.services,
				window.location.href,
				document.title,
				'Hey, have a look at that!'
			);
		}}
	>
		<Icon class="material-icons">reply</Icon>
	</Fab>
</Section>

<style lang="scss">
	:global(.smui-bottom-app-bar > .bottom-app-bar.smui-bottom-app-bar__section) {
		height: auto !important;
		padding-bottom: 0.2em;

		:global(a:visited) {
			color: white;
		}
	}
</style>
