<script lang="ts">
	import Dialog, { Title, Content, Actions, InitialFocus } from '@smui/dialog';
	import Button, { Label } from '@smui/button';

	import lib from '$lib';

	let requestOtp = lib.stores.requestOtp;
	let otp = lib.stores.otp;
	let open = $requestOtp;

	$: if (open === false && $requestOtp === true) {
		open = true;
	}

	function set(_otp: string) {
		if ($requestOtp !== true) {
			return;
		}

		$otp = _otp;
		$requestOtp = false;
		open = false;
	}
</script>

<Dialog
	class="dialog-otp"
	style="z-index: 999;"
	bind:open
	sheet
	escapeKeyAction=""
	aria-labelledby="default-focus-title"
	aria-describedby="default-focus-content"
	on:SMUIDialog:closed={() => set('')}
>
	<Title id="default-focus-title">One Time Password</Title>
	<Content id="default-focus-content"
		>This password is used to encrypt your session locally. This is required to logged in back in
		the UI.</Content
	>
	<Actions>
		<Button on:click={() => set('a')}>
			<Label>OTP = A</Label>
		</Button>
		<Button defaultAction use={[InitialFocus]} on:click={() => set('b')}>
			<Label>OTP = B</Label>
		</Button>
	</Actions>
</Dialog>

<style lang="scss">
	:global(.dialog-otp.mdc-dialog .mdc-dialog__scrim) {
		background: black;
	}

	@media screen and (prefers-color-scheme: dark) {
		:global(.dialog-otp.mdc-dialog .mdc-dialog__scrim) {
			background: black;
		}
	}
</style>
