<script lang="ts">
	import { datastore, fingerprint, location, network, ping } from '../services/stores';

	const version = __APP_VERSION__;
	const name = __APP_NAME__;
</script>

<footer
	class="w-full pointer-events-none md:flex md:items-center md:justify-between dark:border-gray-600 overflow-hidden"
	style="z-index: 1000; position: fixed; bottom: -10px;"
>
	<div
		class="w-full mx-auto max-w-screen-xl pb-4 pt-2 md:flex md:items-center md:justify-between pl-4"
	>
		<ul class="flex flex-wrap items-center mt-3 text-xs font-medium sm:mt-0">
			<li title="Shamir version" class="mr-4">
				<code>{name}:{version}</code>
			</li>
			<li title="Fingerprint" class="mr-4">
				<code>fingerprint={$fingerprint ? $fingerprint : 'xxxxxx'}</code>
			</li>
			<li title="Network status" class="mr-4">
				<code>network={$network.is_online ? '✅' : '❌'}</code>
			</li>
			<li title="Network status" class="mr-4">
				<code>ds={$datastore !== null ? $datastore.config.baseUrl : '❌'}</code>
			</li>
			<li title="Geolocation" class="mr-4">
				<code
					>location=[{$location?.coords.latitude.toFixed(3) ?? 'xx.xxx'}, {$location?.coords.longitude.toFixed(
						3
					) ?? 'xx.xxx'}]</code
				>
			</li>
			<li class="mr-4"><code>ping={$ping === -1 ? 'xxx' : $ping}ms</code></li>
		</ul>
	</div>
</footer>
