<script lang="ts">
	import type { Services } from '../../types';

	import type { LatLngExpression } from 'leaflet';
	import * as h3 from 'h3-js';

	import { onDestroy } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import Leaflet from '../../components/map/Leaflet.svelte';

	import lib from '$lib';

	const location = lib.stores.location;
	const cell = lib.stores.cell;
	const initialView: LatLngExpression | undefined = $location?.coords?.latitude
		? [$location?.coords?.latitude, $location?.coords?.longitude]
		: undefined;

	$: !!map && $location && map.setCurrentLocation($location);

	let map: Leaflet;
	let positions: LatLngExpression[] = [];

	let cellUnsubscribe: Function;
	$: init(map);
	async function init(m: Leaflet) {
		if (!m) {
			return;
		}

		const res = await lib.authentication.auth(lib.services);
		console.log(34, res);

		if (res.account === null) {
			return goto('/signin?redirect_uri=' + encodeURIComponent($page.url));
		}

		lib.services.geolocation.watchPosition();
		lib.services.screen.lock();

		cellUnsubscribe = lib.services.stores.cell.subscribe((value) => {
			lib.geolocation.save(lib.services, value);

			value && loadHistoryPoints(value);
		});
	}

	let previousCell: string = '';
	let loadingPositions = false;
	$: loadHistoryPoints($cell);
	async function loadHistoryPoints(_cell: string | null) {
		if (!map || !_cell) {
			return;
		}

		if (loadingPositions === true) {
			return;
		}

		if (_cell === previousCell) {
			return;
		}

		console.log(69, previousCell, '->', _cell);

		previousCell = _cell;
		loadingPositions = true;

		const cellResolution = h3.getResolution(_cell);
		const cellAtResolution =
			cellResolution > 10
				? h3.cellToParent(_cell, 10)
				: cellResolution !== 10
					? h3.cellToCenterChild(_cell, 10)
					: _cell;
		const cells = h3.gridDisk(cellAtResolution, 5);

		const { data: _positions } = await lib.services.datastores.models.find(
			'positions',
			{
				h3: cells,
				_sort: {
					created_at: -1
				}
			},
			0,
			250
		);

		console.log('Searched h3:', _cell.slice(0, 9));

		const positions = _positions
			.filter((p) => p.latitude && p.longitude)
			.filter((p) => p.accuracy < 25) // Remo
			.map((p) => [p.latitude, p.longitude, p.accuracy] as LatLngExpression);

		// alert(`${_cell.slice(0, 9)} = ${positions.length}`);

		console.log('Seen positions', positions.length);

		map.setMarkers($location, positions);
		loadingPositions = false;
	}

	onDestroy(() => {
		lib.services.screen.release();
		lib.services.geolocation.clearWatchPosition();
		typeof cellUnsubscribe === 'function' && cellUnsubscribe();
	});
</script>

<div id="main" class="flex flex-col place-self-center w-full min-h-screen sm:max-w-md sm:pt-8">
	<section>
		<div class="w-full h-screen">
			<Leaflet bind:this={map} view={initialView} {positions} />
		</div>
	</section>
</div>
