<script lang="ts">
	import { onDestroy, setContext, createEventDispatcher, tick } from 'svelte';
	import L from 'leaflet';
	import 'leaflet/dist/leaflet.css';
	import * as h3 from 'h3-js';

	export let bounds: L.LatLngBoundsExpression | undefined = undefined;
	export let view: L.LatLngExpression = [48.8583701, 2.2919064];
	export let zoom: number = 17;

	export let positions: L.LatLngExpression[] = [];

	const dispatch = createEventDispatcher();

	let map: L.Map | undefined;
	let mapElement: HTMLElement;
	let currentPositionCircle: L.Circle;
	let currentPositionHexagon: L.Polygon;
	let positionsHistoryPolyline: L.Polyline;
	let positionsHistory: Array<L.LatLngExpression> = [];
	let markers: Array<L.CircleMarker> = [];
	let error: boolean = false;

	$: init(mapElement);
	function init(container: HTMLElement) {
		if (!bounds && (!view || !zoom)) {
			// throw new Error('Must set either bounds, or view and zoom.');
			error = true;

			return;
		}

		if (map || !container) {
			return;
		}

		map = L.map(container, {
			preferCanvas: true
		})
			// example to expose map events to parent components:
			.on('zoom', (e) => dispatch('zoom', e))
			.on('popupopen', async (e) => {
				await tick();
				e.popup.update();
			});

		L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
			attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,&copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`
		}).addTo(map);

		map.attributionControl.setPosition('topright');
	}

	onDestroy(() => {
		map?.remove();
		map = undefined;
	});

	setContext('map', {
		getMap: () => map
	});

	export function getMap() {
		return map;
	}

	function getResolution(accuracy: number): number {
		const accuracyArea = Math.PI * accuracy * accuracy;
		let resolution = 15;
		for (let i = resolution; i > 0; i--) {
			const area = h3.getHexagonAreaAvg(i, h3.UNITS.m2);

			if (area > accuracyArea) {
				resolution = Math.min(15, i + 1);
				break;
			}
		}

		return resolution;
	}

	function getExternalPolygon(lat: number, lng: number, accuracy: number) {
		const cellAtPosition = h3.latLngToCell(lat, lng, 10);
		const cellsAround = h3.gridDisk(cellAtPosition, 5);
		return cellsAround.map((c) => h3.cellToBoundary(c));
	}

	export function setMarkers(position: GeolocationPosition, positions: L.LatLngExpression[] = []) {
		if (!map) {
			return;
		}

		positions.forEach((position, i) => {
			if (!markers[i]) {
				const circleMarker = L.circle(position, {
					interactive: false,
					color: 'red',
					radius: position[2] ?? 1,
					stroke: false,
					opacity: 0.1
				});

				circleMarker.addTo(map!);

				markers[i] = circleMarker;
			} else {
				markers[i].setLatLng([position[0], position[1]]);
				markers[i].setRadius(position[2] ?? 1);
			}
		});

		const m = markers.slice(positions.length);
		markers = markers.slice(0, positions.length);
		m.forEach((m) => m.remove());
	}

	export function setCurrentLocation(position: GeolocationPosition) {
		if (!map) {
			return;
		}

		const positionLatLng = [
			position.coords.latitude,
			position.coords.longitude
		] as L.LatLngExpression;

		positionsHistory.unshift(positionLatLng);
		positionsHistory = positionsHistory.slice(0, 100);

		map.setView(positionLatLng);

		const radius = position.coords.accuracy;

		if (!currentPositionCircle) {
			currentPositionCircle = L.circle(positionLatLng, radius, {
				fillColor: '#aaaaff',
				color: '#6666ff',
				stroke: true,
				opacity: 0.5,
				weight: 1
			});

			currentPositionCircle.addTo(map);
		} else {
			currentPositionCircle.setLatLng(positionLatLng).setRadius(radius);
		}

		if (!currentPositionHexagon) {
			currentPositionHexagon = L.polygon(
				getExternalPolygon(
					position.coords.latitude,
					position.coords.longitude,
					position.coords.accuracy
				),
				{ color: 'black', opacity: 0.1, fill: false, stroke: true, weight: 1 }
			);

			currentPositionHexagon.addTo(map);
		} else {
			currentPositionHexagon.setLatLngs(
				getExternalPolygon(
					position.coords.latitude,
					position.coords.longitude,
					position.coords.accuracy
				)
			);
		}
	}

	$: if (map) {
		if (bounds) {
			map.fitBounds(bounds);
		} else if (view && zoom) {
			map.setView(view, zoom);
		}
	}
</script>

<div class="w-full h-full" bind:this={mapElement}>
	{#if map}
		<slot />
	{:else if error === true}
		Leaflet map mounting failed
	{/if}
</div>
